<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=127.0.0.1;Initial Catalog=marxdb;User ID=sa;Password =saadmin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings >
    <add  key="version" value="2017-04-15" />
  </appSettings>
</configuration>